#include "charybdis.dtsi"
#include "charybdis_pmw3610.dtsi"

/ {
    // Physical layout definition - required by ZMK even for dongle
    charybdis_physical_layout: charybdis_physical_layout {
        compatible = "zmk,physical-layout";
        layout = "charybdis_dongle";
        status = "okay";
    };

    chosen {
        // Dongle essentials
        zmk,usb = &usbd;
        zmk,bluetooth = &bt;
        zmk,physical-layout = &charybdis_physical_layout;
    };
};

// Enable trackball
&trackball {
    status = "okay";
};

// Battery monitoring
/ {
    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};