#include "keys_de_swiss.h"
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// / {
//     chosen { zmk,matrix_transform = &default_transform; };
// };

/ {
    /* input config for mouse move mode */

    trackball_snipe_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <4>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <4>;
    };


    // #define QUERTZ    0
    // #define NUMBERS   1
    // #define NAV-FUN   2
    // #define MAC       3
    // #define MAC-NUM   4
    // #define MAC-NAV   5
    // #define GAME      6
    // #define GAME-NUM  7
    // #define GAME-NAV  8
    // #define SCROLL    9
    // #define SNIPER   10
    // #define FN       11

    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 11>;
        };

        studio_unlock {
            bindings = <&studio_unlock>;
            key-positions = <0 4>;
        };

        scroll {
            bindings = <&tog 3>;
            key-positions = <44 45>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <20 21>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <15 14>;
        };

        left_click {
            bindings = <&mkp LCLK>;
            key-positions = <31 32>;
        };

        right_click {
            bindings = <&mkp RCLK>;
            key-positions = <32 33>;
        };

        middle_click {
            bindings = <&mkp MCLK>;
            key-positions = <34 33>;
        };

        snipe_layer {
            bindings = <&tog 4>;
            key-positions = <43 44>;
        };
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50 53 54 51 52 55>;
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <48 49 50 53 54 51 52 55 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 51 52>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp GRAVE       &kp N1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4  &kp N5              &kp N6             &kp N7       &kp N8     &kp N9   &kp N0     &kp MINUS
&kp TAB         &kp Q   &kp W         &kp E             &kp R         &kp T               &kp Y              &kp U        &kp I      &kp O    &kp P      &kp LBKT
&kp ESCAPE      &kp A   &kp S         &kp D             &kp F         &kp G               &kp H              &kp J        &kp K      &kp L    &kp SEMI   &kp APOSTROPHE
&kp LEFT_SHIFT  &kp Z   &kp X         &kp C             &kp V         &kp B               &kp N              &kp M        &kp COMMA  &kp DOT  &kp SLASH  &kp RSHIFT
                                      &kp LEFT_COMMAND  &lt 1 SPACE   &mo 2               &mo 2              &lt 1 SPACE
                                                        &kp LEFT_ALT  &kp LEFT_CONTROL    &kp RIGHT_CONTROL
            >;

            label = "QUERTY";
        };

        win_raise_layer {
            bindings = <
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3  &bt BT_SEL 4          &none     &none     &none   &none      &none  &none
&kp TAB         &none         &kp LC(RIGHT)  &none          &none         &none                 &none     &none     &none   &none      &none  &none
&kp ESCAPE      &none         &kp LC(LEFT)   &kp LC(RIGHT)  &kp HOME      &kp END               &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none  &none
&kp LEFT_SHIFT  &none         &none          &none          &none         &kp LC(LEFT_ARROW)    &none     &none     &none   &none      &none  &kp RIGHT_SHIFT
                                             &none          &none         &none                 &none     &none
                                                            &kp C_VOL_DN  &kp C_VOL_UP          &none
            >;

            label = "NUMBERS";
        };

        win_lower_layer {
            bindings = <
&kp F12    &kp F1        &kp F2        &kp F3         &kp F4        &kp F5           &kp F6         &kp F7  &kp F8  &kp F9  &kp F10       &kp F11
&kp GRAVE  &kp LS(EXCL)  &kp LS(AT)    &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &none          &kp N7  &kp N8  &kp N9  &kp MINUS     &kp RBKT
&kp CAPS   &none         &kp LS(STAR)  &kp LS(LPAR)   &kp LS(RPAR)  &kp LS(CARET)    &kp LS(UNDER)  &kp N4  &kp N5  &kp N6  &kp LS(PLUS)  &kp EQUAL
&kp LSHFT  &kp LBKT      &kp RBKT      &kp LS(LBRC)   &kp LS(RBRC)  &kp LS(AMPS)     &kp LS(PIPE)   &kp N1  &kp N2  &kp N3  &kp BSLH      &kp RSHFT
                                       &kp INS        &trans        &trans           &trans         &kp N0
                                                      &trans        &trans           &none
            >;

            label = "NAV-FUN";
        };

        scroll_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &none   &trans    &trans  &none   &trans  &trans  &trans  &trans
&trans  &trans  &none   &trans  &trans  &trans    &trans  &trans  &trans  &none   &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;

            label = "SCROLL";
        };

        sniper_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;

            label = "SNIPER";
        };
    };
};
